version: '3.8'

services:
  mysql:
    image: mysql:8.0 
    container_name: mysql_container
    restart: always
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: ${ROOT_PASS} 
      MYSQL_DATABASE: ${DB_NAME}                 
    ports:
      - "3306:3306" 
    volumes:
      - ./sql/init.sql:/docker-entrypoint-initdb.d/init.sql
